@charset "UTF-8";
//@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");

/* 関数 */
$f_8:0.5rem;
$f_9:0.5625rem;
$f_10:0.625rem;
$f_11:0.6875rem;
$f_12:0.75rem;
$f_14:0.875rem;
$f_16:1rem;
$f_18:1.125rem;
$f_20:1.25rem;
$f_22:1.375rem;
$f_24:1.5rem;
$f_26:1.625rem;

$font_f_pl:'Playball', cursive;
$colore_go:#8C8247;
$colore_gr:#DBD6D1;
$color-pk:#B70241;
$color-mi:#2B3A31;

$font_fa_yuu:"游明朝体", serif;
$font_fa_hirai:"Hiragino Kaku Gothic ProN", sans-serif;

$VDL-V7Mincho:"vdl-v7mincho", sans-serif;
//font-weight: 300;
//font-style: normal;
$Source-Han-Sans-Japanese:"source-han-sans-japanese", sans-serif;
//font-weight: 400; regular
//font-style: normal;

//font-weight: 700; Bold
//font-style: normal;

$note_sa:'Noto Sans JP', sans-serif;

/*Didot LT Pro Bold
font-family: linotype-didot,serif;
font-weight: 700;
font-style: normal;*/
$font_didot:'linotype-didot',serif;

/*Toppan BunkyuMinchoPr6N R
font-family: toppan-bunkyu-mincho-pr6n,serif;
font-weight: 400;
font-style: normal;*/
$font_toppann:'linotype-didot',serif;

/*******************************************/
